<!-- Contact Page with Form -->

{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<main>
<!-- Contact Section -->
<section id="starter-section" class="starter-section section">

    <section id="contact" class="contact section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Get in Touch</h2>
        <p>If you want to contact me, feel free to send an email!</p>
      </div><!-- End Section Title -->

      <!-- Loads the Flash to let know Message was sent successfully -->
      <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <p class="flash" style="color:green; text-align: center; size: 22px;">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- Loads Form of Contact-->
        {{ render_form(form, novalidate=True) }}

      </div>
    </section><!-- /Contact Section -->
</section>
</main>



{% include "footer.html" %}

