{% include "header.html" %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Learnings of Life</h1>
        <nav class="breadcrumbs">
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span class="step-number jeje">01</span>
        <h2>Prioritize Yourself</h2>
        <p>Over your life, you'll face numerous challenges, but if you stay with yourself, none of those will be able to beat you.</p>
      </div><!-- End Section Title -->
    </section><!-- /Starter Section Section -->

    <div class="container section-title" data-aos="fade-up">
        <span class="step-number jeje">02</span>
        <h2>You VS You</h2>
        <p>The only person who can tell you "You can't do it" is yourself. And you don't have to listen.</p>
    </div><!-- End Section Title -->

  </main>

  {% include "footer.html" %}

</body>

</html>